<section id="hero" class="hero d-flex align-items-center" style="margin-top: 0px;">
    <div class="container" style="margin-top: 0%;">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 style="margin-top: 0%;line-height:80px">Car Service And <br>Customer Service Tracker</h1>
                <div>
                    <div class="text-center text-lg-start">
                        <a href="login.html" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" style="background-color: #007dfe;">
                            <span>Get Started</span>
                            <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img">
                <img src="../assets/img/car.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>