@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,latin);
:root {
  scroll-behavior: smooth;
}

body {
  color: #444444;
}

a {
  color: #4154f1;
  text-decoration: none;
}

a:hover {
  color: #717ff5;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

body {
  background: url(../img/hero-bg.png) top center no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

div.form-group.required > label:first-child:after {
  content: "*";
  color: #dc3545;
  padding-left: 5px;
}

.hero {
  width: 100%;
  height: 85vh;
}

.hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color: #012970;
}

.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #007dfe;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.hero .btn-get-started:hover i {
  transform: translateX(5px);
}

.hero .hero-img {
  text-align: right;
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}

@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    margin-top: 80px;
  }
  .hero .hero-img img {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 100%;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  margin-top: 20px;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h4 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.section-title h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #007dfe;
  bottom: 0;
  left: calc(50% - 25px);
}

.navbar li a {
  margin-right: 30px;
}

.logo {
  line-height: 0;
}

.logo img {
  max-height: 40px;
  margin-right: 6px;
}

.logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}
