<nav class="navbar navbar-expand-lg navbar-light">
  <a
    href="Home.php"
    class="logo d-flex align-items-baseline"
    style="margin-left: 20px; margin-top: 20px"
  >
    <img src="assets/img/logo.png" alt="" height="70px" />
    <span style="margin-top: 16px"><sup> Car Service</sup></span>
  </a>
  <button
    class="navbar-toggler align-items-baseline"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse align-items-baseline" id="navbarNav">
    <ul
      class="nav navbar-nav ml-auto"
      style="margin-right: 10em; font-size: 16px; font-weight: 500"
    >
      <li class="nav-item active">
        <a class="nav-link" routerLink="" style="color: #012970"
          ><i class="fa fa-home" style="margin-right: 5px"></i>Home<span
            class="sr-only"
            >(current)</span
          ></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Login" style="color: #012970"
          ><i
            class="fa fa-sign-in"
            aria-hidden="true"
            style="margin-right: 5px"
          ></i>
          Login</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="Register" style="color: #012970"
          ><i
            class="fa fa-user-plus"
            aria-hidden="true"
            style="margin-right: 5px"
          ></i
          >Register</a
        >
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
