<div class="container-fluid" style="margin-top: 0%">
    <div class="container" style="
      border: 1px solid #e7e7e7;
      background-color: white;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    ">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body" style="padding: 11px">
                        <div class="section-title">
                            <h4 style="margin: 0%">Sign Up</h4>
                        </div>
                        <form [formGroup]="registerForm" (ngSubmit)="data()" autocomplete="off">
                            <div class="form-row">
                                <div class="form-group required col-md-6">
                                    <label for="FirstName">FirstName</label>
                                    <input type="text" class="form-control" name="firstName" formControlName="FirstName" value="Mark" />
                                    <label class="text-danger" *ngIf="
                    registerForm.get('FirstName')?.touched &&
                    registerForm.get('FirstName')?.errors?.['required']
                    ">FirstName Must Required</label>
                                </div>
                                <div class="form-group required col-md-6">
                                    <label for="LastName">LastName</label>
                                    <input type="text" class="form-control" name="LastName" formControlName="LastName" />
                                    <label class="text-danger" *ngIf="
                    registerForm.get('LastName')?.touched &&
                    registerForm.get('LastName')?.errors?.['required']
                    ">LastName Must Required</label>
                                </div>
                                <div class="form-group required col-md-6">
                                    <label for="Email">Email</label>
                                    <input type="Email" class="form-control" name="Email" formControlName="Email" />
                                    <label class="text-danger" *ngIf="
                      registerForm.get('Email')?.touched &&
                      registerForm.get('Email')?.errors?.['required']
                    ">Email Must Required</label>
                                    <label class="text-danger" *ngIf="
                      registerForm.get('Email')?.touched &&
                      registerForm.get('Email')?.errors?.['email']
                    ">Enter Valid Email Address</label>
                                </div>
                                <div class="form-group required col-md-6">
                                    <label for="Password">Password</label>
                                    <input type="password" class="form-control" autocomplete="off" required formControlName="Password" />
                                    <label class="text-danger" *ngIf="
                      registerForm.get('Password')?.touched &&
                      registerForm.get('Password')?.errors?.['minlength']
                    ">
                    Minimum 6 Characters Required
                  </label>
                                    <label class="text-danger" *ngIf="registerForm.get('Password')?.touched && registerForm.get('Password')?.errors?.['required']">
                    Password Must Required
                  </label>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="image" style="margin-top: 5pxx">Upload Profile Photo</label>
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="image" name="image" formControlName="ProflePhoto" />
                                        <label class="custom-file-label" for="customFile">Choose Photo</label>
                                    </div>
                                </div>
                                <div class="form-group required col-md-6">
                                    <label for="PhoneNumber">PhoneNumber</label>
                                    <input type="text" class="form-control" name="PhoneNumber" formControlName="PhoneNumber" />
                                    <label class="text-danger" *ngIf="
                      registerForm.get('PhoneNumber')?.touched &&
                      registerForm.get('PhoneNumber')?.errors?.['required']
                    ">PhoneNumber Must Required</label>
                                    <label class="text-danger" *ngIf="
                      registerForm.get('PhoneNumber')?.touched &&
                      registerForm.get('PhoneNumber')?.errors?.['minlength']
                    ">Enter Valid Phone Number</label>
                                </div>
                            </div>
                            <div class="form-group required">
                                <label for="AlternatePhoneNumber">Alternate Phone Number</label>
                                <input type="text" class="form-control" id="AlternatePhoneNumber" formControlName="AlternatePhoneNumber" />
                                <label class="text-danger" *ngIf="
                      registerForm.get('AlternatePhoneNumber')?.touched &&
                      registerForm.get('AlternatePhoneNumber')?.errors?.['required']
                    ">AlternatePhoneNumber Must Required</label>
                                <label class="text-danger" *ngIf="
                      registerForm.get('AlternatePhoneNumber')?.touched &&
                      registerForm.get('AlternatePhoneNumber')?.errors?.['minlength']
                    ">Enter Valid Phone Number</label>
                            </div>
                            <button type="submit" class="btn-block btn btn-primary" name="register" [disabled]="!registerForm.valid">
                <i class="fa fa-user-plus" aria-hidden="true" style="margin-right: 10px"></i>
                <!-- <a href="otp_verifiction.html" style="color: white;"> -->
                Sign Up
              </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <img src="assets/img/4962879.jpg" alt="" srcset="" style="border: none" class="img-thumbnail" />
            </div>
        </div>
    </div>
</div>